{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="checkanswers" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            What drink do you want?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="drink" name="drink" type="radio" value="Tea" {{ checked("drink", "Tea") }}>
              <label class="govuk-label govuk-radios__label" for="drink">
                Tea
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="drink-2" name="drink" type="radio" value="Coffee" {{ checked("drink", "Coffee") }}>
              <label class="govuk-label govuk-radios__label" for="drink-2">
                Coffee
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="drink-3" name="drink" type="radio" value="Orange juice" {{ checked("drink", "Orange juice") }}>
              <label class="govuk-label govuk-radios__label" for="drink-3">
                Orange juice
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

{% endblock %}
