{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
      <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
              <h1 class="govuk-heading-l">Check your answers before sending your application</h1>
              
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
               
                <div class="govuk-summary-list__row">
                  
                  
                  <dt class="govuk-summary-list__key">
                    What type of breakfast do you want?
                  </dt>
                  
                  <dd class="govuk-summary-list__value">
                    {{ data['breakfasttype'] }}
                  </dd>

                  <dd class="govuk-summary-list__actions">
                   
                    <a class="govuk-link" href="breakfast-type">
                      Change<span class="govuk-visually-hidden"> breakfast type</span>
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What would you like in your breakfast?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['breakfastoption'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    
                    <a class="govuk-link" href="breakfast-options">
                      Change<span class="govuk-visually-hidden"> breakfast options</span>
                    </a>

                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What drink do you want
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['drink'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="drinks">
                      Change<span class="govuk-visually-hidden"> drink</span>
                    </a>
                  </dd>
                </div>
              </dl>
             
              <h2 class="govuk-heading-m">Now send your application</h2>
              <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
              <form action="/form-handler" method="post" novalidate>
                <input type="hidden" name="answers-checked" value="true">
                <button class="govuk-button" data-module="govuk-button">
                  Accept and send
                </button>
              </form>

          </div>
        </main>
      </div>


    </div>
  </div>
{% endblock %}
